body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cabecalho {
    text-align: center;
    padding: 10px 0px;
}

.chamada {
    background-color: #2283c9;
    padding: 60px 15px;
}

#titulo {
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin: 0;
}

.imoveis article img {
    max-width: 100%;

}

.imoveis {
    text-align: center;
    padding: 0 15px;
}

.imoveis article a {
    background-color: rgb(127, 235, 27);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}